/* Regole Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

ul ul {
    padding-top: 10px;
}

/* Regole Layout */
.container {
    max-width: 800px;
    margin-inline: auto;
}

/* Body */
body {
    background-color: #F6F8F9;
    font-family: sans-serif;
}

/* Header */
.main-header {
    padding: 10px;
    margin-bottom: 40px;
    background-color: #fff;
}

.main-header__logo,
.main-header__title {
    vertical-align: middle;
}

.main-header__title {
    font-size: 34px;
    font-weight: 900;
    display: inline-block;
}

/* Content */
.content {
    background-color: #fff;
    border-radius: 2.5px;
}

.content-header {
    padding: 20px 40px;
    border-bottom: 2px solid #F6F8F9;
}


.content-body {
    padding: 40px;
}

/* Button */
.button {
    padding: 6px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.button__full {
    border: 2px solid #47ADF1;
    background-color: #47ADF1;
    color: #fff;
}

.button__outline {
    border: 2px solid #C5CBD0;
    color: #C5CBD0;
}

/* Task */
.task__section {
    margin-bottom: 40px;
}

.task__section__title {
    font-size: 18px;
    font-weight: bold;
}

.task__section:last-child {
    margin-bottom: 0;
}

.task__section ul li {
    margin-bottom: 20px;
}

.task li:last-child li:last-child {
    margin-bottom: 0;
}

/* Check */
.check {
    margin-right: 5px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
}

.check--ok {
    border: 1px solid #64C0A9;
    color: #64C0A9;
}

.check--no {
    border: 1px solid #EA453B;
    color: #EA453B;
}

/* Label */
.label {
    padding: 5px 10px;
    border-radius: 20px;
    color: #fff;
    font-size: 10px;
}

.label--editorial {
    background-color: #45ABEA;
}

.label--q1goals {
    background-color: #9C72E4;
}

.label--recruiting {
    background-color: #64C0A9;
}

.label--mobile {
    background-color: #F29E33;
}

.label--website {
    background-color: #D863A1;
}

.label--sales {
    background-color: #B0C926;
}

/* Regole di debug */
.debug,
.debug>* {
    border: 1px solid red;
}

.debug .container {
    border: 1px solid blue;
}