/* Regole Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

ul ul {
    padding-top: 10px;
}

/* Regole Layout */
.container {
    max-width: 800px;
    margin-inline: auto;
}

/* Body */
body {
    background-color: #F6F8F9;
    font-family: sans-serif;
}

/* Header */
.main-header {
    padding: 10px;
    margin-bottom: 40px;
    background-color: #fff;
    vertical-align: top;
}

.main-header__title {
    font-size: 34px;
    font-weight: 900;
}


/* Content */
.content {
    background-color: #fff;
}

.content-header {
    padding: 20px 40px;
    border-bottom: 2px solid #F6F8F9;
}


.content-body {
    padding: 40px;
}

/* Button */
.button {
    padding: 6px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.button__full {
    border: 2px solid #47ADF1;
    background-color: #47ADF1;
    color: #fff;
}

.button__outline {
    border: 2px solid #C5CBD0;
    color: #C5CBD0;
}

/* Task */
.task__section {
    margin-bottom: 40px;
}

.task__section ul li {
    margin-bottom: 10px;
}

/* Regole di debug */
.debug,
.debug>* {
    border: 1px solid red;
}

.debug .container {
    border: 1px solid blue;
}